<form *ngIf="user$ | async; else loading"
  nz-form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>FirstName</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="firstName" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>LastName</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="lastName" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="email" placeholder="email" type="email" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>

</form>

<ng-template #loading>
    Loading User...
</ng-template>