<form nz-form [formGroup]="trainingsForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="name" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>description</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="description" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>type</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="type" placeholder="type" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>

        <!-- <div class="input-group flex-nowrap">
            <input type="file" class="form-control" formControlName="image" id="inputGroupFile04"
                (change)="updateFile($event)" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div> -->
        <nz-form-label [nzSpan]="7">file</nz-form-label>
        <nz-upload nzAction=""
            [nzHeaders]="{ authorization: 'authorization-text' }" 
            (nzChange)="handleChange($event)">
            <button nz-button type="button">
                <span nz-icon nzType="upload"></span>
                Click to Upload
            </button>
        </nz-upload>

    </nz-form-item>

    

    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>
</form>


<div class="wrap">

    <app-training *ngFor="let training of trainings$|async" [training]="training">

    </app-training>
</div>