<div class="dashboard">

    <section class="block amount">
        <div class="block__header">header</div>
        <div class="block_title">
            <p> Total Earned amount is </p>
            <p class="count">3660</p>
        </div>

    </section>
    <section class="block newOrders">
        <div class="block__header">header</div>
        <div class="block_title">
            <p>New orders count is</p>
            <p class="count">26</p>
        </div>
    </section>
    <section class="block wayOrders">
        <div class="block__header">header</div>
        <div class="block_title">
            <p>One way orders count is</p>
            <p class="count">0</p>
        </div>
    </section>
    <section class="block drivers">
        <div class="block__header">header</div>
        <div class="block_title">
            <p>Drivers count is</p>
            <p class="count">0</p>
        </div>
    </section>
</div>